*.dll
*.hprof
*.iml
*.xccheckout
*.xcscmblueprint
.DS_Store
.build/
.classpath
.cxx/
.externalNativeBuild/
.gradle/
.idea/
.project
.rubygems/
.settings
.swiftpm/
.vs/
.vscode/
Carthage/
Pods/
bin/
build/
cmake-build-debug/
gradlew.bat
heapdump.*.phd
javacore.*.txt
obj/
packages/
target/
xcuserdata
